.App {
  padding: 0 30px 0 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
}

span {
  color: mediumseagreen;
}

.btnAddTask {
  background-color: mediumseagreen;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;

}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;


}

.container-name {
  width: 420px;
  text-align: center;
  font-weight: 900;


}

.container2 {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.section {
  background-color: rgb(204, 204, 204);
  border: none;
  height: 70%;
  text-align: center;
  width: 420px;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}

.modal {
  display: flex;
  flex-direction: column;

}

.buttonsModal {
  display: flex;
  justify-content: flex-end;
}

.buttonsAddSave {
  background-color: white;
  color: mediumseagreen;
  border: 2px solid white;
  padding: 6px 11px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}

.task {
  color: white;
  background-color: mediumseagreen;
  padding: 18px;
  margin: 5px;
}

.task-title {
  text-align: center;

}